replicaCount: 1

image:
  repository: abedabu28/bilal-motors-frontend
  tag: "2.0"
  pullPolicy: IfNotPresent

containerPort: 80

service:
  type: ClusterIP
  port: 80
  fullnameOverride: frontend-service

ingress:
  enabled: false
  className: nginx
  hosts: []
  tls: []

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}

config:
  VITE_API_URL: "http://localhost:8000"
