replicaCount: 1

image:
  repository: abedabu28/bilal-motors-backend
  tag: "1.0"
  pullPolicy: IfNotPresent

containerPort: 8000

service:
  type: ClusterIP
  port: 8000
  fullnameOverride: backend-service

ingress:
  enabled: false
  className: nginx
  hosts: []
  tls: []

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
